@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900');
.first-header{
  background: #28564ae0;
  font-family: inherit;
  color: #fff;
  font-size: 13px;

}
.navbar-light{
  padding: .1rem 1rem;
  background-color: #28564a!important;
}
.navbar-light .nav-link {
  color: #FFF !important;
}
.navbar-light .nav-link:hover {
  color: #000 !important;
}
.bg-photo {
    background-image: url('../assests/header-bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 550px;
    background-size: 100% 100%;
    color: white;
}
.fade-effect{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color, transform;
}
.fade-effect:hover{
  background: #81d4be;
  /*background: #fff57a;*/
  color: black;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}
.zone_1 {
    padding-top: 10%;
}
.section2{
  /*background-color: #d4fffb94;*/
  color: #28564a;
  background-image: linear-gradient(to bottom right, #e6fffd, #fff);
  /*background-image: linear-gradient(to bottom right, #fbe287, #f5fbfbdb);*/
}
.my-titles{
  padding: 30px 10px;
}
.md-image{
  height: 280px;
  width: 280px;
  margin: 18px;
}
.tools{
    color: #3da3e0;
    list-style-type: none;
    padding: 0;
    font-weight: 500;
}
.project-father {
  height: 300px;
  position:relative;
  transform-style: preserve-3d;
  transition: all ease-in-out 0.70s;
}

.project-father:hover {
  transform: rotateY(180deg);
}
.project-father > div {
  position:absolute;
  border: 1px solid #DDD;
  border-radius: 3%;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  text-align: left!important
}
.project-front{
  backface-visibility: visible;
  z-index: 2;
}
.project-back{
  z-index: 1;
  transform: rotateY(180deg);
}
.circular-photo {
  height: 200px;
  width: 200px;
  border: 0.5px solid #ddd;
  border-radius: 50%;
}
.lower{
  position: absolute;
    width: 90%;
    background-color: transparent;
    z-index: 2;
    margin-top: 120px;
    font-family: Josefin Sans;
    text-transform: capitalize;
    color: #5C75A7;
}

.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
	-webkit-transform: none;
-moz-transform: none;
 -o-transform: none;
    transform: none;
}
/* flip speed goes here */
.card {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}

.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    text-align: left;
}
.card-container, .front, .back {
	width: 100%;
	height: 300px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
color: #3da3e0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}
